@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/animations.scss";

.block-logo {
  display: flex;
  flex-direction: row;
  opacity: 0;
  transition: all 0.5s ease;

  &.animate {
    animation: $anim-fade-in 1s linear forwards;
  }

  a {
    font-size: 18px;
    font-family: $font-logo;
    color: $primary-text-color-white;
    @media (min-width: 992px) {
      font-size: 22px;
    }
  }
}
