@import "../../../assets/scss/variables.scss";

.block-logo {
  display: flex;
  flex-direction: row;

  a {
    font-size: 18px;
    font-family: $font-logo;
    color: $primary-text-color-white;
    @media (min-width: 992px) {
      font-size: 22px;
    }
  }
}
