// Background colors
$background-dark: #040303;
$background-white: #ffffff;

// Text colors
$primary-text-color-white: #ffffff;

$primary-text-color-dark: #000000;

$color-accent: #ffd95a;

/************** FONTS ****************/
$font-logo: "Montserrat Subrayada", sans-serif;
