@import "../../assets/scss/variables.scss";

header {
  position: relative;
  top: 0px;
  height: 300px;
  width: 100%;
  margin: 0px auto;
  overflow: hidden;

  @media (min-width: 992px) {
    height: 560px;
  }
}

.fullwidth-banner {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.184);
  }

  img {
    height: 100%;
  }
}

.hero-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    display: block;
    margin: 0;
    font-family: $font-hero;
    font-weight: 400;
    color: $primary-text-color-white;

    .intro-title {
      overflow: hidden;
    }

    .intro-title span {
      display: flex;
      align-self: center;
      justify-content: center;
    }
  }
}
