@import "../../assets/scss/variables.scss";

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 12px 6px;
  padding: 12px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;

  @media (min-width: 992px) {
    margin: 20px 30px;
  }
}

.block-btn-nav {
  display: block;
  @media (min-width: 992px) {
    display: none;
  }

  :hover {
    cursor: pointer;
  }

  i {
    font-size: 24px;
    color: $primary-text-color-white;
  }
}
